/* From Uiverse.io by OliverZeros */
.book-now-button {
   all: unset;
}

.book-now-button .button {
   position: relative;
   display: inline-flex;
   height: 3.5rem;
   align-items: center;
   border-radius: 9999px;
   padding-left: 2rem;
   padding-right: 2rem;
   font-family: Segoe UI, sans-serif;
   font-size: 1.2rem;
   font-weight: 640;
   color: #fafaf6;
   letter-spacing: -0.06em;
   cursor: pointer;
}

.book-now-button .button-item {
   background-color: transparent;
   color: #1d1d1f;
}

.book-now-button .button-item .button-bg {
   border-color: rgba(255, 208, 116, 1);
   background-color: rgba(255, 208, 116, 1);
}

.book-now-button .button-inner,
.book-now-button .button-inner-hover,
.book-now-button .button-inner-static {
   pointer-events: none;
   display: block;
}

.book-now-button .button-inner {
   position: relative;
   z-index: 10;
}

.book-now-button .button-inner-hover {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   transform: translateY(70%);
}

.book-now-button .button-bg {
   overflow: hidden;
   border-radius: 2rem;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform: scale(1);
   transition: transform 1.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.book-now-button .button-bg,
.book-now-button .button-bg-layer,
.book-now-button .button-bg-layers {
   display: block;
}

.book-now-button .button-bg-layers {
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   top: -60%;
   aspect-ratio: 1 / 1;
   width: max(200%, 10rem);
}

.book-now-button .button-bg-layer {
   border-radius: 9999px;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform: scale(0);
}

.book-now-button .button-bg-layer.-purple {
   background-color: rgba(163, 116, 255, 1);
}

.book-now-button .button-bg-layer.-turquoise {
   background-color: rgba(23, 241, 209, 1);
}

.book-now-button .button-bg-layer.-yellow {
   --tw-bg-opacity: 1;
   background-color: rgba(255, 208, 116, var(--tw-bg-opacity));
}

.book-now-button .button:hover .button-inner-static {
   opacity: 0;
   transform: translateY(-70%);
   transition:
      transform 1.4s cubic-bezier(0.19, 1, 0.22, 1),
      opacity 0.3s linear;
}

.book-now-button .button:hover .button-inner-hover {
   opacity: 1;
   transform: translateY(0);
   transition:
      transform 1.4s cubic-bezier(0.19, 1, 0.22, 1),
      opacity 1.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.book-now-button .button:hover .button-bg-layer {
   transition:
      transform 1.3s cubic-bezier(0.19, 1, 0.22, 1),
      opacity 0.3s linear;
}

.book-now-button .button:hover .button-bg-layer-1 {
   transform: scale(1);
}

.book-now-button .button:hover .button-bg-layer-2 {
   transition-delay: 0.1s;
   transform: scale(1);
}

.book-now-button .button:hover .button-bg-layer-3 {
   transition-delay: 0.2s;
   transform: scale(1);
}